/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html
{
    font-size: 1em;
    line-height: 1.4;

    color: #222;
}

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

textarea
{
    resize: vertical;
}

.browserupgrade
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body
{
    font-family: sans-serif;

    height: 100vh;

    opacity: 1;
    background: #fff;

    -webkit-font-smoothing: antialiased;
}

h1
{
    font-size: 15.9vw;
    line-height: 1;

    position: absolute;
    top: 0;

    display: inline-block;

    -webkit-transform: translateY(-1vh);

            transform: translateY(-1vh);
    text-align: center;
}

h3
{
    font-size: 14px;
    font-weight: 800;
    line-height: 1;

    margin-bottom: 5px;
}

p
{
    line-height: 1.6;

    margin: 0;
}

.link,
a
{
    cursor: pointer!important;
    cursor: pointer!important;
    text-decoration: underline;

    color: black;
}

a:visited
{
    color: black;
}

.link:hover,
a:hover
{
    text-decoration: none;
}

.page-link
{
    cursor: pointer;
    text-decoration: underline;
}


.text_container
{
    position: absolute;
    z-index: 1;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100vh;
    padding: 12vw;
    padding-top: 40vh;
}



.gif_container img
{
    position: absolute;

    display: none;

    max-width: 500px;

    opacity: .9;
}


/* Text */


.text_container p
{
    font-family: helvetica;
    font-size: 5.9vw;
    font-weight: 800;
    line-height: 1.1;
}

.text_container .music
{
    display: none;
}

.text_container a:hover .music
{
    display: inline;
}


.gif_container
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}


/* PAGES */

article
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background: #fff;
    display: block;
    opacity: 1;
}

.article-hidden
{
    top: -100vh;
}

.article-content
{
    font-size: 0;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 90vw;
    height: calc(100% * 9/16);

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
}

.article-hidden
{
    opacity: 0;
    display: none;
}


.article-video,
.article-info
{
    position: absolute;

    display: inline-block;

    box-sizing: border-box;
}


iframe,
video
{
    width: 60vw;
    height: calc(60vw * 9/16);
}

.article-info
{
    left: 60vw;

    width: 30vw;
    padding-left: 25px;
}

.article-info *
{
    font-size: 16px;
}

.article-info p
{
    margin-bottom: 0;
}

.article-info h2
{
    font-size: 24px;
    font-weight: 800;
    line-height: 1;

    margin-top: 0;
}


/* PRINT PAGE */

.article-content img
{
    width: 60vw;
    margin: 0;
    margin-bottom: 5vw;
}

.article-content img:last-child
{
    margin-bottom: 0;
}

.article-print
{
    position: relative;
    z-index: 10;
    top: auto;
    left: auto;

    overflow: scroll;

    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 5vw;

    -webkit-transform: none;
            transform: none;
}

.article-info-print
{
    position: absolute;
    top: 5vw;
    left: 65vw;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen
and (max-device-width : 768px)
{
    .text_container
    {
        padding: 15vh 5vw;
        position: absolute;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }
    .text_container p{
        line-height: 1.45;
    }
    .article-info,
    .article-video
    {
        position: relative;

        display: static;

        width: 100%;
        
        left: 0;
    }
    .article-info{
        padding: 5vw;
    }
    .article-content
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        -webkit-transform: translate(0,0);
                transform: translate(0,0);

        opacity: 1;
    }
    iframe, video {
    width: 100%;
    height: calc(100% * 9/16);
}
.gif_container img, .gif_container
{
    display: none!important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden
{
    display: none !important;
    visibility: hidden;
}

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

.invisible
{
    visibility: hidden;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
}