@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700");
@font-face {
  font-family: freshmarker;
  src: url(../fonts/freshmarker.ttf);
}

/* ==========================================================================
   General
   ========================================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #fff404;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  color: black;
  background-color: white;
  font-size: 2vw;
}

@media (max-width: 1500px) {
  body {
    font-size: 30px;
  }
}

@media (min-width: 3000px) {
  body {
    font-size: 60px;
  }
}

.wrapper {
  padding: 20px;
}

.wrapper.about {
  padding-bottom: 40vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: black;
}

.group {
  margin: 1em 0;
}

.group .title {
  font-size: inherit;
  font-weight: 400;
}

.list .item {
  display: inline;
  list-style: none;
}

.list .item:not(:last-child) .link:after {
  content: ",";
}

/* ==========================================================================
   Marquee Animation
   ========================================================================== */
.ticker {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100vw;
  white-space: nowrap;
}

.ticker img {
  display: inline;
  height: 40vh;
  padding-right: 20vh;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* ==========================================================================
   Article Page
   ========================================================================== */
.article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: stretch;
}

.article .details {
  display: inline-block;
  margin-top: .5em;
}

.article .details p {
  font-size: 1rem;
  text-align: center;
}

.article .content {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
}

.article .content .images {
  display: flex;
  border: 20px solid #fff404;
}

.article .content .image {
  width: 33%;
  flex-grow: 1;
}

.article .content .image img {
  width: 100%;
  vertical-align: bottom;
  object-fit: contain;
}

.video {
  position: relative;
  height: calc(90vw * 9/16);
  border: 20px solid #fff404;
  background-color: black;
  flex-grow: 1;
  flex-shrink: 1;
}

.video embed, .video iframe, .video object, .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.resume h4 {
  margin-bottom: 1em;
}

.resume h4:not(:first-child) {
  margin-top: 3em;
}

.resume h5 {
  margin-top: 1em;
}
